.all-body {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 0, 81);
  position: relative;
  user-select: none;


  .body {
    height: 100vh;
    display: flex;

    .form-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 50px;
      align-self: center;

      input {
        margin-bottom: 10px;
        height: 40px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 0px 10px gray;
        outline: none;
        padding-left: 20px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(255, 0, 81);

        &:nth-child(2) {
          margin-bottom: 30px;
        }
      }

      .create {
        height: 50px;
        border: none;
        background-color: white;
        border-radius: 20px;
        color: black;
        font-family: sans-serif;
        letter-spacing: 10px;
        font-size: 20px;
        font-weight: bold;
        transition: all 0.4s;

        &:hover {
          color: white;
          background-color: rgb(255, 0, 81);
          border: 2px solid white;
          box-shadow: 0px 0px 20px 5px white, 0px 0px 30px 5px rgb(248, 3, 248);
        }

      }
    }

    .student-list-all-body {
      width: 100%;
      height: 100%;
      padding: 50px;
      display: flex;
      flex-direction: column;

      .student-body {
        height: 50%;
        width: 100%;
        overflow-x: hidden;
      }

      .student-list-title {
        color: white;
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;
      }

      .list-titles {
        display: flex;
        width: 82.3%;
        justify-content: space-between;
        align-items: center;

        .list-title {
          margin: 0;
          border-right: 2px solid black;
          border-top: 2px solid black;
          border-bottom: 2px solid black;
          width: 100%;
          display: flex;
          justify-content: center;
          // border-radius: 20px;
          font-family: sans-serif;
          font-weight: 400;
          font-size: 20px;
          color: white;
          padding: 10px;

          &:nth-child(1) {
            width: 20%;
            border-left: 2px solid black;
          }
        }
      }

      .student-list {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 82.3%;
        // overflow: hidden;
        // height: 100%;

        .student-data {
          width: 100%;
          display: flex;
          justify-content: center;
          border-right: 2px solid black;
          font-family: sans-serif;
          font-weight: 400;
          font-size: 17px;
          color: white;
          padding: 10px;
          border-top: 2px solid black;
          margin: 0;

          &:nth-child(1) {
            width: 20%;
            border-left: 2px solid black;
          }
        }

        .update {
          position: absolute;
          right: -8%;
          top: 20%;
          font-size: 30px;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }

        .remove {
          position: absolute;
          right: -15%;
          top: 20%;
          font-size: 30px;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }

      }
    }


  }

  .student-update {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    top: 13%;
    left: 30%;
    height: 60%;
    width: 40%;
    display: flex;
    align-items: center;
    border: 7px solid black;
    box-shadow: inset 0px 0px 200px rgb(255, 0, 81);
    display: none;

    .update-form-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 50px;
      align-self: center;
      position: relative;

      .exit {
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;
        position: absolute;
        line-height: 25px;
        top: 10px;
        right: 30px;
        border: 4px solid black;
        margin: 0;
        border-radius: 50px;
        height: 10%;
        width: 6%;
        display: flex;
        justify-content: center;
        cursor: pointer;
      }

      .update-title {
        text-align: center;
        font-size: 35px;
        color: black;
        font-family: sans-serif;
        font-weight: bold;
      }

      input {
        margin-bottom: 10px;
        height: 40px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 0px 10px gray;
        outline: none;
        padding-left: 20px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: bold;
        color: rgb(255, 0, 81);

        &:nth-child(2) {
          margin-bottom: 10px;
        }
      }

      .update-create {
        height: 50px;
        border: none;
        background-color: white;
        border-radius: 20px;
        color: black;
        font-family: sans-serif;
        letter-spacing: 10px;
        font-size: 20px;
        font-weight: bold;
        margin-top: 40px;
        transition: all 0.4s;

        &:hover {
          color: white;
          background-color: rgb(255, 0, 81);
          border: 2px solid white;
          box-shadow: 0px 0px 20px 5px white, 0px 0px 30px 5px rgb(248, 3, 248);
        }

      }
    }
  }

}